$primaryColor: #9356DC;
$secondaryColor: #FF79DA;
$tertiaryColor: #99E2D0;

$greyBg: #eaeaea;
$greyTxt: #353535;
$grayIcons: #7f7f7f;
$lightGreyBg:#f6f6f6;

$titleFontSize: 4.2rem;
$subTitleFontSize: 3rem;