@charset "UTF-8";
/* CSS Reset */
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;500;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Shrikhand&display=swap");
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  font-family: Roboto;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

a {
  text-decoration: none;
}

h2 {
  font-size: 4.2rem;
  font-weight: 700;
  padding: 4rem;
}

h3 {
  font-size: 3rem;
  font-weight: 700;
  line-height: 4rem;
}

h4 {
  font-size: 2.8rem;
  font-weight: 300;
  line-height: 3rem;
}

.sideTitleMargin, .restaurants .restaurants__title, .steps .steps__title {
  align-self: flex-start;
  padding: 7rem 0 3rem 4rem;
}

.header {
  display: flex;
  position: fixed;
  width: 100%;
  z-index: 1;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.header .header__logo-area {
  width: 100%;
  justify-self: stretch;
  position: relative;
  display: flex;
  justify-content: center;
  top: -1px;
  box-shadow: 3px 3px 11px -3px gray;
  background-color: white;
}
.header .header__logo-area .header__logo {
  margin: 2rem;
  margin-top: 3.5rem;
  height: 4rem;
}

footer {
  box-sizing: border-box;
  padding: 2rem;
  height: 30rem;
  width: 100%;
  background-color: #353535;
}
footer .footer__logo {
  height: 2.5rem;
  margin: 2rem 1rem 1rem 2rem;
}
footer .footer__link {
  display: flex;
  flex-direction: row;
  font-size: 2rem;
  align-items: center;
  margin: 2rem;
  color: white;
}
footer .footer__link i {
  margin-right: 1rem;
}

.gradient-bt {
  width: fit-content;
  height: fit-content;
  font-size: 2.5rem;
  font-weight: 500;
  padding: 3rem;
  margin: 5rem;
  color: white;
  border-radius: 5rem;
  border: none;
  box-shadow: 3px 3px 11px -3px gray;
  /* Compatibilité gradient */
  background-image: -webkit-linear-gradient(276deg, #FF79DA, #9356DC);
  background-image: -moz-linear-gradient(276deg, #FF79DA, #9356DC);
  background-image: -ms-linear-gradient(276deg, #FF79DA, #9356DC);
  background-image: -o-linear-gradient(276deg, #FF79DA, #9356DC);
  background-image: -webkit-gradient(276deg, #FF79DA, #9356DC);
}

.backBt {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 10rem;
  left: 0;
  color: black;
}

@keyframes rotationAnim {
  0% {
    transform: rotate(0);
  }
  100% {
    transform: rotate(360deg);
  }
}
@keyframes scaleIn {
  0% {
    opacity: 1;
    transform: scale(0);
  }
  100% {
    opacity: 1;
    transform: scale(1);
  }
}
@keyframes heartbeat {
  0% {
    transform: scale(1);
  }
  20% {
    transform: scale(1.3);
  }
  100% {
    transform: scale(1);
  }
}
.menu {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 9rem;
  background-color: #f6f6f6;
}
.menu .menu__header {
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  top: -9.8rem;
  height: 10rem;
  width: 100%;
  position: relative;
  background-color: #f6f6f6;
  border-radius: 8rem 8rem 0 0;
}
.menu .menu__header h1 {
  margin: 7rem 0 0rem 5rem;
  font-size: 4.5rem;
  flex: 1 1 auto;
  font-family: Shrikhand;
}
.menu .menu__header .menu__like {
  width: 12rem;
  position: absolute;
  right: 50px;
  bottom: 80px;
  display: flex;
  justify-content: center;
  align-items: center;
  justify-content: flex-start;
  align-items: flex-end;
  height: 100%;
  width: 9rem;
  bottom: 0.5em;
  right: 0;
}
.menu .menu__header .menu__like .like {
  color: #9356DC;
}
.menu .menu__header .menu__like .like-switch {
  position: absolute;
  height: 100%;
  z-index: 1;
  width: 100%;
  opacity: 0;
}
.menu .menu__header .menu__like .like-switch:checked ~ .like {
  font-weight: 600;
  animation: heartbeat 1s;
}
.menu .menu__header .menu__like .like-switch:not(:checked) ~ .like {
  font-weight: 400;
  color: black;
}
.menu .menu__header .menu__like .fa-2x {
  font-size: 4em;
}
.menu .menu__board {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  top: -10rem;
}
.menu .menu__board h2 {
  font-size: 2.8rem;
  font-weight: 300;
  padding: unset;
  margin: 6rem 0 2rem 3rem;
}
.menu .menu__board h2::after {
  display: block;
  content: "";
  width: 7rem;
  height: 0.5rem;
  margin-top: 1rem;
  background-color: #99E2D0;
}
.menu .menu__board h3 {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.menu .menu__board h4 {
  flex: 1;
  font-size: 2.4em;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.menu .menu__board p {
  font-size: 2.4rem;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.menu .menu__board .menu__meal {
  /* Animation */
  opacity: 0;
  display: flex;
  flex-direction: row;
  position: relative;
  margin: 1rem 2rem 1rem 2rem;
  padding: 2em;
  overflow: hidden;
  border-radius: 3em;
  box-shadow: 3px 3px 11px -3px gray;
  background-color: white;
}
.menu .menu__board .menu__meal:nth-child(1) {
  animation: staggerAnimation 1500ms cubic-bezier(0.17, 0.67, 0.33, 0.99) 0s forwards;
}
.menu .menu__board .menu__meal:nth-child(2) {
  animation: staggerAnimation 1500ms cubic-bezier(0.17, 0.67, 0.33, 0.99) 0.1s forwards;
}
.menu .menu__board .menu__meal:nth-child(3) {
  animation: staggerAnimation 1500ms cubic-bezier(0.17, 0.67, 0.33, 0.99) 0.2s forwards;
}
.menu .menu__board .menu__meal:nth-child(4) {
  animation: staggerAnimation 1500ms cubic-bezier(0.17, 0.67, 0.33, 0.99) 0.3s forwards;
}
.menu .menu__board .menu__meal:nth-child(5) {
  animation: staggerAnimation 1500ms cubic-bezier(0.17, 0.67, 0.33, 0.99) 0.4s forwards;
}
.menu .menu__board .menu__meal:nth-child(6) {
  animation: staggerAnimation 1500ms cubic-bezier(0.17, 0.67, 0.33, 0.99) 0.5s forwards;
}
.menu .menu__board .menu__meal:nth-child(7) {
  animation: staggerAnimation 1500ms cubic-bezier(0.17, 0.67, 0.33, 0.99) 0.6s forwards;
}
.menu .menu__board .menu__meal:nth-child(8) {
  animation: staggerAnimation 1500ms cubic-bezier(0.17, 0.67, 0.33, 0.99) 0.7s forwards;
}
.menu .menu__board .menu__meal:nth-child(9) {
  animation: staggerAnimation 1500ms cubic-bezier(0.17, 0.67, 0.33, 0.99) 0.8s forwards;
}
.menu .menu__board .menu__meal:nth-child(10) {
  animation: staggerAnimation 1500ms cubic-bezier(0.17, 0.67, 0.33, 0.99) 0.9s forwards;
}
.menu .menu__board .menu__meal:nth-child(11) {
  animation: staggerAnimation 1500ms cubic-bezier(0.17, 0.67, 0.33, 0.99) 1s forwards;
}
.menu .menu__board .menu__meal:nth-child(12) {
  animation: staggerAnimation 1500ms cubic-bezier(0.17, 0.67, 0.33, 0.99) 1.1s forwards;
}
.menu .menu__board .menu__meal:nth-child(13) {
  animation: staggerAnimation 1500ms cubic-bezier(0.17, 0.67, 0.33, 0.99) 1.2s forwards;
}
.menu .menu__board .menu__meal:nth-child(14) {
  animation: staggerAnimation 1500ms cubic-bezier(0.17, 0.67, 0.33, 0.99) 1.3s forwards;
}
.menu .menu__board .menu__meal:nth-child(15) {
  animation: staggerAnimation 1500ms cubic-bezier(0.17, 0.67, 0.33, 0.99) 1.4s forwards;
}
.menu .menu__board .menu__meal:nth-child(16) {
  animation: staggerAnimation 1500ms cubic-bezier(0.17, 0.67, 0.33, 0.99) 1.5s forwards;
}
.menu .menu__board .menu__meal:nth-child(17) {
  animation: staggerAnimation 1500ms cubic-bezier(0.17, 0.67, 0.33, 0.99) 1.6s forwards;
}
.menu .menu__board .menu__meal:nth-child(18) {
  animation: staggerAnimation 1500ms cubic-bezier(0.17, 0.67, 0.33, 0.99) 1.7s forwards;
}
.menu .menu__board .menu__meal:nth-child(19) {
  animation: staggerAnimation 1500ms cubic-bezier(0.17, 0.67, 0.33, 0.99) 1.8s forwards;
}
.menu .menu__board .menu__meal:nth-child(20) {
  animation: staggerAnimation 1500ms cubic-bezier(0.17, 0.67, 0.33, 0.99) 1.9s forwards;
}
@keyframes staggerAnimation {
  0% {
    opacity: 0;
    transform: translateY(5rem);
  }
  100% {
    opacity: 100%;
    transform: translateY(0);
  }
}
.menu .menu__board .menu__meal .menu__info {
  flex: 1 1 auto;
  text-overflow: ellipsis;
  width: 100px;
  overflow: hidden;
}
.menu .menu__board .menu__meal .menu__price {
  align-self: flex-end;
  flex-shrink: 0;
  text-align: center;
  height: 100%;
  width: 5em;
}
.menu .menu__board .menu__meal .menu__offset {
  display: flex;
  position: relative;
  justify-content: center;
  align-items: center;
  width: 0;
  border-radius: 0 2rem 2rem 0;
  transition: 0.35s cubic-bezier(0.5, 0.01, 0.55, 1);
}
.menu .menu__board .menu__meal .restaurant__mealBt {
  width: 10%;
  transition: 0.35s cubic-bezier(0.5, 0.01, 0.55, 1);
  display: flex;
  justify-content: center;
  align-items: center;
  content: "";
  z-index: 0;
  height: 100%;
  position: absolute;
  top: 0;
  right: -12%;
  color: white;
  background-color: #99E2D0;
}
.menu .menu__board .menu__meal .restaurant__mealBt i {
  z-index: 1;
}
.menu .menu__board .menu__meal:hover .restaurant__mealBt {
  width: 22%;
  transform: translate(-6.5rem, 0);
}
.menu .menu__board .menu__meal:hover .menu__offset {
  width: 22%;
}
.menu .menu__board .menu__meal:hover .restaurant__mealBt i {
  animation: rotationAnim 0.42s ease-in-out;
}
.menu .gradient-bt {
  padding: 3rem 8rem 3rem 8rem;
  position: absolute;
  bottom: 0;
}

@keyframes rotationAnim {
  0% {
    transform: rotate(0);
  }
  100% {
    transform: rotate(360deg);
  }
}
@keyframes scaleIn {
  0% {
    opacity: 1;
    transform: scale(0);
  }
  100% {
    opacity: 1;
    transform: scale(1);
  }
}
@keyframes heartbeat {
  0% {
    transform: scale(1);
  }
  20% {
    transform: scale(1.3);
  }
  100% {
    transform: scale(1);
  }
}
.loading {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  top: 0;
  position: fixed;
  width: 100%;
  height: 100%;
  z-index: 1;
  content: "";
  animation: fadeOut 1s ease-in-out 5.8s forwards;
  background-color: white;
}
@keyframes fadeOut {
  0% {
    opacity: 1;
  }
  25% {
    opacity: 0;
  }
  100% {
    z-index: -100;
  }
}
.loading .loading__titlebox {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 10rem;
  overflow: hidden;
}
.loading .loading__titlebox .loading__logo {
  animation: logoHideOut 1.5s cubic-bezier(0, 0.71, 0, 1.01) 0.5s backwards, logoHideOut 0.5s cubic-bezier(0, 0.5, 0, 0.8) 5.5s forwards reverse;
  position: absolute;
  width: 100%;
  height: 6rem;
  bottom: 30px;
}
@keyframes logoHideOut {
  0% {
    transform: translateY(200px);
  }
  100% {
    transform: translateY(0px);
  }
}
.loading .lds-ellipsis {
  display: flex;
  justify-content: center;
  position: relative;
  overflow: hidden;
  width: 200px;
  height: 80px;
}
.loading .lds-ellipsis div {
  position: absolute;
  top: 33px;
  width: 25px;
  height: 25px;
  border-radius: 50%;
  /*#region Loading spinner anim */
  /*#endregion*/
}
.loading .lds-ellipsis div:nth-child(1) {
  opacity: 1;
  animation: scaleIn 1s ease-in-out 1s forwards normal, loadingDots3 2s ease-in-out 2s forwards 1, scaleIn 1s ease-in-out 4s reverse forwards;
}
.loading .lds-ellipsis div:nth-child(2) {
  opacity: 1;
  animation: scaleIn 1s ease-in-out 1.5s forwards normal, loadingDots3 2s ease-in-out 2.5s forwards 1, scaleIn 1s ease-in-out 4.5s reverse forwards;
}
.loading .lds-ellipsis div:nth-child(3) {
  opacity: 1;
  animation: scaleIn 1s ease-in-out 2s forwards normal, loadingDots3 2s ease-in-out 3s forwards 1, scaleIn 1s ease-in-out 5s reverse forwards;
}
@keyframes loadingDots {
  0% {
    transform: translate(0, 0);
    z-index: 0;
  }
  25% {
    transform: translate(2rem, 0);
  }
  50% {
    transform: scale(1) translate(4rem, 0);
  }
  75% {
    transform: scale(0) translate(2rem, 0);
    z-index: -1;
  }
  100% {
    transform: scale(1);
  }
}
@keyframes loadingDots2 {
  0% {
    transform: translate(0, 0);
    z-index: 0;
  }
  33% {
    transform: translate(2rem, 0);
  }
  66% {
    transform: translate(4rem, 0);
  }
  100% {
    transform: translate(4rem, 0, 0);
    z-index: -1;
  }
}
@keyframes loadingDots3 {
  0% {
    transform: translate(0, 0);
    z-index: 0;
  }
  25% {
    transform: translate(4rem, 0);
    z-index: 0;
  }
  50% {
    transform: translate(0, 0);
    z-index: -1;
  }
  75% {
    transform: translate(-4rem, 0);
    z-index: 0;
  }
  100% {
    transform: translate(0, 0);
    z-index: -1;
  }
}
.loading .lds-ellipsis div:nth-child(1) {
  opacity: 0.01;
  background: #99E2D0;
}
.loading .lds-ellipsis div:nth-child(2) {
  opacity: 0.01;
  background: #9356DC;
}
.loading .lds-ellipsis div:nth-child(3) {
  opacity: 0.01;
  background: #FF79DA;
}

.localisation {
  display: flex;
  justify-content: center;
  padding-top: 10rem;
  align-items: center;
  height: 7rem;
  z-index: -1;
  background-color: #eaeaea;
}
.localisation .localisation__input-area {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.localisation .localisation__input-area .localisation i {
  margin: 2rem;
}
.localisation .localisation__input-area .localisation__input {
  padding: 1px 6px;
  margin: 1rem;
  font-size: 2.5rem;
  color: #353535;
  outline: none;
  /* Bordure a la selection
  &:focus{
      border: 1px solid;
  }
  */
}
.localisation .localisation__input-area .localisation__input::placeholder {
  font-size: 2rem;
  color: #353535;
}

.gradient-bt {
  width: fit-content;
  height: fit-content;
  font-size: 2.5rem;
  font-weight: 500;
  padding: 3rem;
  margin: 5rem;
  color: white;
  border-radius: 5rem;
  border: none;
  box-shadow: 3px 3px 11px -3px gray;
  /* Compatibilité gradient */
  background-image: -webkit-linear-gradient(276deg, #FF79DA, #9356DC);
  background-image: -moz-linear-gradient(276deg, #FF79DA, #9356DC);
  background-image: -ms-linear-gradient(276deg, #FF79DA, #9356DC);
  background-image: -o-linear-gradient(276deg, #FF79DA, #9356DC);
  background-image: -webkit-gradient(276deg, #FF79DA, #9356DC);
}

.backBt {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 10rem;
  left: 0;
  color: black;
}

.landing, .landing--menu {
  display: flex;
  position: relative;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 45rem;
  background-color: #f6f6f6;
}
.landing .landing__title, .landing--menu .landing__title {
  text-align: center;
  width: 75%;
}
.landing .landing__sub-title, .landing--menu .landing__sub-title {
  text-align: center;
  font-weight: 300;
  font-size: 3rem;
}

.landing--menu {
  padding-top: 7rem;
}
.landing--menu .landing__img {
  object-fit: cover;
  height: 100%;
  width: 100%;
}

.steps {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 60rem;
  margin: 0 0 10rem;
}
.steps .steps__stepbox {
  display: flex;
  align-items: center;
  box-sizing: border-box;
  height: 12rem;
  width: 85%;
  border-radius: 3rem;
  margin: 2rem 2rem 2rem 4rem;
  box-shadow: 3px 3px 11px -3px gray;
  background-color: #f6f6f6;
}
.steps .steps__bulletpoint {
  display: flex;
  flex-shrink: 0;
  justify-content: center;
  align-items: center;
  background-color: #9356DC;
  border-radius: 4rem;
  margin-left: -40px;
  height: 4.5rem;
  width: 4.5rem;
}
.steps .steps__bulletpoint p {
  color: white;
  font-weight: 300;
  text-align: center;
  font-size: 2.3rem;
}
.steps .steps__stepbox i {
  color: #7f7f7f;
  width: 4rem;
  margin: 4rem;
}
.steps .steps__bullet-txt {
  text-align: left;
  font-size: 2.5rem;
  margin-right: 4rem;
  flex: 1 1 auto;
  color: black;
}
.steps #selected {
  background-color: #f2eafb;
}
.steps #selected i {
  color: #9356DC;
}

.restaurants {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 10rem;
  background-color: #f6f6f6;
}
.restaurants .like-wrapper {
  display: flex;
  justify-content: center;
  position: relative;
}
.restaurants .restaurants__card {
  display: flex;
  flex-direction: column;
  position: relative;
  box-sizing: border-box;
  color: black;
  width: 90%;
  margin: 1.5rem;
  height: 38rem;
}
.restaurants .restaurants__new-label {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #278870;
  font-size: 2.3rem;
  top: 0;
  right: 0;
  margin: 2rem;
  width: 14rem;
  height: 5rem;
  background-color: #99E2D0;
}
.restaurants .restaurants__img {
  border-radius: 3rem 3rem 0 0;
  box-shadow: 3px 3px 11px -3px grey;
  object-fit: cover;
  width: 100%;
  height: 70%;
}
.restaurants .restaurants__info-area {
  flex: 1 1 auto;
  display: flex;
  border-radius: 0 0 3rem 3rem;
  box-shadow: 3px 3px 11px -3px grey;
  background-color: white;
  font-size: 2rem;
}
.restaurants .restaurants__infos {
  flex: 1 1 auto;
  margin: auto 0 auto 3rem;
}
.restaurants .restaurants__like {
  width: 12rem;
  position: absolute;
  right: 50px;
  bottom: 80px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.restaurants .restaurants__like .like {
  color: #9356DC;
}
.restaurants .restaurants__like .like-switch {
  position: absolute;
  height: 100%;
  z-index: 1;
  width: 100%;
  opacity: 0;
}
.restaurants .restaurants__like .like-switch:checked ~ .like {
  font-weight: 600;
  animation: heartbeat 1s;
}
.restaurants .restaurants__like .like-switch:not(:checked) ~ .like {
  font-weight: 400;
  color: black;
}

@keyframes rotationAnim {
  0% {
    transform: rotate(0);
  }
  100% {
    transform: rotate(360deg);
  }
}
@keyframes scaleIn {
  0% {
    opacity: 1;
    transform: scale(0);
  }
  100% {
    opacity: 1;
    transform: scale(1);
  }
}
@keyframes heartbeat {
  0% {
    transform: scale(1);
  }
  20% {
    transform: scale(1.3);
  }
  100% {
    transform: scale(1);
  }
}

/*# sourceMappingURL=style.css.map */
