@charset "UTF-8";
/* CSS Reset */
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;500;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Shrikhand&display=swap");
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  font-family: Roboto;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

a {
  text-decoration: none;
}

h2 {
  font-size: 4.2rem;
  font-weight: 700;
  padding: 4rem;
}

h3 {
  font-size: 3rem;
  font-weight: 700;
  line-height: 4rem;
}

h4 {
  font-size: 2.8rem;
  font-weight: 300;
  line-height: 3rem;
}

.sideTitleMargin, .restaurants .restaurants__title, .steps .steps__title {
  align-self: flex-start;
  padding: 7rem 0 3rem 4rem;
}

.header {
  display: flex;
  position: fixed;
  width: 100%;
  z-index: 1;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.header .header__logoArea {
  width: 100%;
  justify-self: stretch;
  display: flex;
  justify-content: center;
  box-shadow: 3px 3px 11px -3px gray;
  background-color: white;
}
.header .header__logoArea .header__logo {
  margin: 2rem;
  margin-top: 3.5rem;
  height: 4rem;
}

footer {
  box-sizing: border-box;
  padding: 2rem;
  height: 30rem;
  width: 100%;
  background-color: #353535;
}
footer .footer__logo {
  height: 2.5rem;
  margin: 2rem 1rem 1rem 2rem;
}
footer .footer__link {
  display: flex;
  flex-direction: row;
  font-size: 2rem;
  align-items: center;
  margin: 2rem;
  color: white;
}
footer .footer__link i {
  margin-right: 1rem;
}

.gradientBt {
  width: fit-content;
  height: fit-content;
  font-size: 2.5rem;
  font-weight: 500;
  padding: 3rem;
  margin: 5rem;
  color: white;
  border-radius: 5rem;
  border: none;
  box-shadow: 3px 3px 11px -3px gray;
  /* Compatibilité gradient */
  background-image: -webkit-linear-gradient(276deg, #FF79DA, #9356DC);
  background-image: -moz-linear-gradient(276deg, #FF79DA, #9356DC);
  background-image: -ms-linear-gradient(276deg, #FF79DA, #9356DC);
  background-image: -o-linear-gradient(276deg, #FF79DA, #9356DC);
  background-image: -webkit-gradient(276deg, #FF79DA, #9356DC);
}

.menu {
  position: relative;
  background-color: #f6f6f6;
  width: 100%;
  height: 120rem;
}
.menu .menu__header {
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  top: -9.8rem;
  height: 10rem;
  width: 100%;
  position: relative;
  background-color: #f6f6f6;
  border-radius: 8rem 8rem 0 0;
}
.menu .menu__header h1 {
  margin: 7rem 0 0rem 5rem;
  font-size: 4.5rem;
  font-family: Shrikhand;
}
.menu .menu__header .menu__like {
  width: 12rem;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  bottom: 0.5em;
}
.menu .menu__header .menu__like .like {
  color: #9356DC;
}
.menu .menu__header .menu__like .likeSwitch {
  position: absolute;
  height: 100%;
  z-index: 1;
  width: 100%;
  opacity: 0;
}
.menu .menu__header .menu__like .likeSwitch:checked ~ .like {
  font-weight: 600;
}
.menu .menu__header .menu__like .likeSwitch:not(:checked) ~ .like {
  font-weight: 400;
  color: black;
}
.menu .menu__header .menu__like .fa-2x {
  font-size: 4em;
}
.menu .menu__board h2 {
  font-size: 2.8rem;
  font-weight: 300;
  padding: unset;
  margin-left: 3rem;
}
.menu .menu__board h2::after {
  display: block;
  content: "";
  width: 7rem;
  height: 0.5rem;
  margin-top: 1rem;
  background-color: #99E2D0;
}
.menu .menu__board .menu__meal {
  display: flex;
  flex-direction: row;
  position: relative;
  margin: 2em;
  padding: 2em;
  border-radius: 3em;
  box-shadow: 3px 3px 11px -3px gray;
  background-color: white;
}
.menu .menu__board .menu__meal .menu__info {
  flex: 1 1 auto;
}
.menu .menu__board .menu__meal .menu__price {
  align-self: flex-end;
  flex-shrink: 0;
  text-align: center;
  height: 100%;
  width: 5em;
}
.menu .menu__board .menu__meal .menu__selected {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 9rem;
  color: white;
}
.menu .menu__board .menu__meal .menu__selected i {
  z-index: 1;
}
.menu .menu__board .menu__meal .menu__selected::after {
  display: block;
  content: "";
  position: absolute;
  width: 100%;
  height: 11rem;
  right: -2rem;
  border-radius: 0 2rem 2rem 0;
  background-color: #99E2D0;
}
.menu .menu__board .menu__meal h4 {
  font-size: 2.4em;
}
.menu .menu__board .menu__meal p {
  font-size: 2.4rem;
}

.localisation {
  display: flex;
  justify-content: center;
  padding-top: 10rem;
  align-items: center;
  height: 7rem;
  z-index: -1;
  background-color: #eaeaea;
}
.localisation .localisation__inputArea {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.localisation .localisation__inputArea .localisation i {
  margin: 2rem;
}
.localisation .localisation__inputArea .localisation__input {
  padding: 1px 6px;
  margin: 1rem;
  font-size: 2.5rem;
  color: #353535;
  outline: none;
  /* Bordure a la selection
  &:focus{
      border: 1px solid;
  }
  */
}
.localisation .localisation__inputArea .localisation__input::placeholder {
  font-size: 2rem;
  color: #353535;
}

.gradientBt {
  width: fit-content;
  height: fit-content;
  font-size: 2.5rem;
  font-weight: 500;
  padding: 3rem;
  margin: 5rem;
  color: white;
  border-radius: 5rem;
  border: none;
  box-shadow: 3px 3px 11px -3px gray;
  /* Compatibilité gradient */
  background-image: -webkit-linear-gradient(276deg, #FF79DA, #9356DC);
  background-image: -moz-linear-gradient(276deg, #FF79DA, #9356DC);
  background-image: -ms-linear-gradient(276deg, #FF79DA, #9356DC);
  background-image: -o-linear-gradient(276deg, #FF79DA, #9356DC);
  background-image: -webkit-gradient(276deg, #FF79DA, #9356DC);
}

.landing, .landing--menu {
  display: flex;
  position: relative;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 45rem;
  background-color: #f6f6f6;
}
.landing .landing__title, .landing--menu .landing__title {
  text-align: center;
  width: 75%;
}
.landing .landing__subTitle, .landing--menu .landing__subTitle {
  text-align: center;
  font-weight: 300;
  font-size: 3rem;
}

.landing--menu {
  padding-top: 7rem;
}
.landing--menu .landing__img {
  object-fit: cover;
  height: 100%;
  width: 100%;
}

.steps {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 60rem;
  margin: 0 0 10rem;
}
.steps .steps__stepBox {
  display: flex;
  justify-content: row;
  align-items: center;
  box-sizing: border-box;
  height: 12rem;
  width: 85%;
  border-radius: 3rem;
  margin: 2rem 2rem 2rem 4rem;
  box-shadow: 3px 3px 11px -3px gray;
  background-color: #f6f6f6;
}
.steps .steps__bulletPoint {
  display: flex;
  flex-shrink: 0;
  justify-content: center;
  align-items: center;
  background-color: #9356DC;
  border-radius: 4rem;
  margin-left: -40px;
  height: 4.5rem;
  width: 4.5rem;
}
.steps .steps__bulletPoint p {
  color: white;
  font-weight: 300;
  text-align: center;
  font-size: 2.3rem;
}
.steps .steps__stepBox i {
  color: #7f7f7f;
  width: 4rem;
  margin: 4rem;
}
.steps .steps__bulletTxt {
  text-align: left;
  font-size: 2.5rem;
  margin-right: 4rem;
  flex: 1 1 auto;
  color: black;
}

.restaurants {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 10rem;
  background-color: #f6f6f6;
}
.restaurants .restaurants__card {
  display: flex;
  flex-direction: column;
  position: relative;
  box-sizing: border-box;
  color: black;
  width: 90%;
  margin: 1.5rem;
  height: 38rem;
}
.restaurants .restaurants__newLabel {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #278870;
  font-size: 2.3rem;
  top: 0;
  right: 0;
  margin: 2rem;
  width: 14rem;
  height: 5rem;
  background-color: #99E2D0;
}
.restaurants .restaurants__img {
  border-radius: 3rem 3rem 0 0;
  box-shadow: 3px 3px 11px -3px grey;
  object-fit: cover;
  width: 100%;
  height: 70%;
}
.restaurants .restaurants__infoArea {
  flex: 1 1 auto;
  display: flex;
  border-radius: 0 0 3rem 3rem;
  box-shadow: 3px 3px 11px -3px grey;
  background-color: white;
  font-size: 2rem;
}
.restaurants .restaurants__infos {
  flex: 1 1 auto;
  margin: auto 0 auto 3rem;
}
.restaurants .restaurants__like {
  width: 12rem;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}
.restaurants .restaurants__like .like {
  color: #9356DC;
}
.restaurants .restaurants__like .likeSwitch {
  position: absolute;
  height: 100%;
  z-index: 1;
  width: 100%;
  opacity: 0;
}
.restaurants .restaurants__like .likeSwitch:checked ~ .like {
  font-weight: 600;
}
.restaurants .restaurants__like .likeSwitch:not(:checked) ~ .like {
  font-weight: 400;
  color: black;
}

/*# sourceMappingURL=style.css.map */
