@mixin staggerAnim($nb) {
    $elements:$nb;
    $delay:0.5;
    @for $i from 0 to $elements {
        &:nth-child(#{$i + 1}) {
            animation: staggerTranslation 1500ms cubic-bezier(.17,.67,.33,.99) $i * 0.10s forwards;
        }
    }
    @keyframes staggerTranslation {
        0%{
            opacity: 0;
            transform: translateY(5rem)
        }
        100%{
            opacity: 100%;
            transform: translateY(0);
        }
    }
}