@mixin staggerAnim($nb) {
    $elements:$nb;
    $delay:0.5;
    @for $i from 0 to $elements {
        &:nth-child(#{$i + 1}) {
            animation: staggerAnimation 1500ms cubic-bezier(.17,.67,.33,.99) $i * 0.10s forwards;
        }
    }
    @keyframes staggerAnimation {
        0%{
            opacity: 0;
            transform: translateY(5rem);
        }
        100%{
            opacity: 100%;
            transform: translateY(0);
        }
    }
}

@mixin loadingAnim($offsetX,$nbDots){
    @for $i from 0 to $nbDots+1{
        @if $i < $nbDots +1{
            &:nth-child(#{$i+1}){
                @debug "item " + $i;
                //animation-delay: 2s;
                animation: loadingDots3 2s ease-in-out $i * .5s forwards infinite;
            }
        }
        @else if $i == $nbDots{
            @debug "last";
        }
    }
    
/*#region Loading spinner anim */
    @keyframes loadingDots {
        0%{
            // Init
            transform: translate(0, 0);
            z-index: 0;
        }
        25%{
            // Move --> 
            transform: translate($offsetX, 0);
        }
        50%{
            // Move -->
            transform: scale(1) translate($offsetX*2, 0);
        }
        75%{
            // Scale out
            transform: scale(0) translate($offsetX, 0) ;
            z-index: -1;
        }
        100%{
            transform:scale(1);
        }
    }

    @keyframes loadingDots2 {
        0%{
            // Init
            transform: translate(0, 0);
            z-index: 0;
        }
        33%{
            // Move --> 
            transform: translate($offsetX, 0);
        }
        66%{
            // Move -->
            transform:translate($offsetX*2, 0);
        }
        100%{
            // Scale out
            transform:translate($offsetX*2, 0, 0) ;
            z-index: -1;
        }
    }

    @keyframes loadingDots3 {
        0%{
            // Init
            transform: translate(0, 0);
            z-index: 0;
        }
        50%{
            // Move --> 
            transform: translate($offsetX*2, 0);
        }
        
        100%{
            // Scale out
            transform:translate($offsetX*4, 0, 0) ;
            z-index: -1;
        }
    }
/*#endregion*/
}

@mixin logoHideOut() {
    //animation-delay: 5s;
    //animation: logoHideOut 1.5s cubic-bezier(.17,.67,.33,.99) 1s backwards;
    animation: logoHideOut 1.5s cubic-bezier(0,.45,0,1.32) .5s backwards;
    @keyframes logoHideOut {
        0%{
            transform: translateY(100px);
        }
        100%{
            transform: translateY(0px);
        }
    }
}

@keyframes rotationAnim {
    0%{
        transform: rotate(0);
    }    
    100%{
        transform: rotate(360deg);
    }
}

