@mixin staggerAnim($nb) {
    $elements:$nb;
    $delay:0.5;
    @for $i from 0 to $elements {
        &:nth-child(#{$i + 1}) {
            animation: staggerAnimation 1500ms cubic-bezier(.17,.67,.33,.99) $i * 0.10s forwards;
        }
    }
    @keyframes staggerAnimation {
        0%{
            opacity: 0;
            transform: translateY(5rem);
        }
        100%{
            opacity: 100%;
            transform: translateY(0);
        }
    }
}

@mixin logoHideOut() {
    //animation-delay: 5s;
    //animation: logoHideOut 1.5s cubic-bezier(.17,.67,.33,.99) .5s backwards;
    animation: logoHideOut 1.5s cubic-bezier(0,.71,0,1.01) .5s backwards,logoHideOut .5s cubic-bezier(0,.50,0,.8) 4.5s forwards reverse;
    @keyframes logoHideOut {
        0%{
            transform: translateY(200px);
        }
        100%{
            transform: translateY(0px);
        }
    }
}

@mixin loadingAnim($offsetX,$nbDots){
    @for $i from 0 to $nbDots+1{
        @if $i < $nbDots +1{
            &:nth-child(#{$i+1}){
                opacity: 1;
                @debug "item " + $i;
                animation: scaleIn 1s ease-in-out $i * .6s + 1s forwards, loadingDots3 2s ease-in-out $i * .5s + 2s forwards infinite;
                //animation-iteration-count: infinite, 0;
            }
        }
        @else if $i == $nbDots{
            @debug "last";
        }
    }
    
/*#region Loading spinner anim */
    @keyframes loadingDots {
        0%{
            // Init
            transform: translate(0, 0);
            z-index: 0;
        }
        25%{
            // Move --> 
            transform: translate($offsetX, 0);
        }
        50%{
            // Move -->
            transform: scale(1) translate($offsetX*2, 0);
        }
        75%{
            // Scale out
            transform: scale(0) translate($offsetX, 0) ;
            z-index: -1;
        }
        100%{
            transform:scale(1);
        }
    }

    @keyframes loadingDots2 {
        0%{
            // Init
            transform: translate(0, 0);
            z-index: 0;
        }
        33%{
            // Move --> 
            transform: translate($offsetX, 0);
        }
        66%{
            // Move -->
            transform:translate($offsetX*2, 0);
        }
        100%{
            // Scale out
            transform:translate($offsetX*2, 0, 0) ;
            z-index: -1;
        }
    }

    @keyframes loadingDots3 {
        0%{
            // Init
            opacity: 1;
            transform: translate(0, 0);
            z-index: 0;
        }
        50%{
            // Move --> 
            transform: translate($offsetX*2, 0);
        }
        
        100%{
            // Scale out
            transform:translate(0, 0) ;
            opacity: 1;
            z-index: -1;
        }
    }
/*#endregion*/
}

@mixin fadeOut($delay,$duration){
    animation: fadeOut $duration ease-in-out $delay forwards;
    @keyframes fadeOut {
        0%{
            opacity: 1;
        }    
        100%{
            opacity: 0;
        }
    }
}

@keyframes rotationAnim {
    0%{
        transform: rotate(0);
    }    
    100%{
        transform: rotate(360deg);
    }
}

@keyframes scaleIn{
    0%{
        opacity: 1;
        transform: scale(0);
    }
    100%{
        opacity: 1;
        transform: scale(1);
    }
}

