.landing{
    display: flex;
    position: relative;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 45rem;
    background-color: $lightGreyBg;

    .landing__title{
        text-align: center;
        width: 75%;
    }
    .landing__sub-title{
        text-align: center;
        font-weight: 300;
        font-size: $sub-titleFontSize;
    }
    
}

.landing--menu{
    @extend .landing;
    padding-top: 7rem;
    .landing__img{
        object-fit: cover;
        height: 100%;
        width: 100%;
    }
}